

/**SETTINGS**/

@media screen and (max-width: 1800px) {

* {
	font-family: verdana, georgia;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

body {
	background: linear-gradient(#8f8f8f,#b8b7aa, #f1efda);
	justify-content: center;
}


.D1 {
	width: 87%;
	box-sizing: border-box;

}






/**PT1**/


.intro {
	height: 340px;
	border: solid 40px #48e545;
	margin-top: 80px;
	margin-bottom: 12px;
	
}


#mtitle {
	font-size: 28px;
	margin-top: 40px;
	align-items: center;
	margin-bottom: 35px;
}


#subt {
	font-size: 13px;
	text-shadow: 0 1px 3px black;
}


.me {
	height: 400px;
	border: solid 28px black;
	margin-bottom: 24px;
	display: flex;
	justify-content: space-around;
}


.mephoto{
	width: 50%;
	height: 400px;
	box-sizing: border-box;
}


.photome {
	width: 170px;
	height: 200px;
	margin-top: 66px;
}


.metext {
	width: 50%
	height: 400px;
	box-sizing: border-box;
}


#textmr {
	margin-top: 129px;
	margin-bottom: 18px;
	font-size: 19px;
	font-weight: normal;
}

#textcolourmr {
	background-color: #48e545;
}


#textjobs {
	font-weight: bold;
	font-size: 14px;
}

#textcolourjobs {
		background-color: #57cce7;
}


.bio {
	height: 1940px;
	border: solid 16px black;
	background-color: #48e545;
}

#text01bio {
 	font-size: 25px; 
	padding-top: 28px;
	margin-bottom: 28px;
 	text-shadow: 0 1px 1px black;
 	font-weight: bold;
 	float: left;
 	text-align: left;
 	padding-left: 36px;

}

#text02bio {
	padding-left: 36px;
	padding-right: 36px;
	font-size: 19px;
	margin-bottom: 120px;
	float: left;
	text-align: left;
	padding-left: 36px;
}

#text03bio {
 	font-size: 13px;
 	font-weight: lighter;
 	text-shadow: 1px 0px 2px black;
 	float: left;
 	text-align: left;
 	padding-left: 36px;
}


.l0 {
	border: solid 4px black;
	margin-top: 240px;
	margin-bottom: 240px;
	box-sizing: border-box;
}






/**PT2**/


.art {
	height: 3000px;
	border: solid 16px black;
	margin-bottom: 72px;

}

#dada01 {
	width: 100%;
	height: 560px;
	position: relative;
	box-sizing: border-box;
}

#dada01,#dada02 {
	opacity: 0.68;
	transition: opacity 0.5s ease-in-out;
}


#dada01:hover {
	opacity: 1.0;
}

#Atext01art{
	position: absolute;
	/**right: 1090px;**/
	z-index: -1;
	font-size: 38px;
	text-shadow: 0 2px 2px black;
	text-align: right;
	float: right;
	padding-left: 680px;
	padding-top: 18px;
	display: none;
}

.u01art {
	/**display: flex;
	flex-direction: row;**/
	height: 740px;
	box-sizing: border-box;
}

#dada02 {
	width: 100%;
	height: 980px;
	box-sizing: border-box;
}


#dada02:hover {
	opacity: 1.0;
}

.u02art {
	width: 100%
	height: 900px;
	box-sizing: border-box;
}

#text02art {
 	margin-top: 28px;
 	margin-bottom: 28px;
 	font-size: 26px;
 	font-weight: bold;
 	text-shadow: 1px 1px 2px 2px black;
 	text-align: left;
 	float: left;
 	padding-left: 36px;
}

#Btext01art{
	font-size: 19px;
	text-shadow: 0 2px 2px black;
	text-align: left;
	float: left;
	padding-left: 36px;
	padding-right: 36px;
}

#text03art {
 	font-size: 19px;
 	text-shadow: 0px 2px 2px black;
 	float: left;
 	text-align: left;
 	display: none;
 }

#text04art {
	font-size: 13px;
	font-weight: normal;
	text-shadow: 0 2px 2px black;
	margin-top: 120px;
	float: left;
	text-align: left;
	padding-left: 36px;
	padding-right: 36px;
}
.audio {
	height: 820px;
	border: solid 11px black;
	margin-bottom: 96px;
	background-color: #57cce7;

}

.u01audio {
	height: 100%;
	width: 24%;
	float: left;
	box-sizing: border-box;
}

#text01audio {
	float: left;
 	text-align: left;
 	font-size: 26px;
	margin-bottom: 28px;
	padding-top: 28px;
 	padding-left: 36px;
 	text-shadow: 0 1px 1px black;
}

#text02audio {
 	float: left;
 	text-align: left;
 	font-size: 19px;
 	font-weight: lighter;
 	padding-left: 36px;
 	margin-bottom: 112px;
 }

 #text03audio {
 	float: left;
 	text-align: left;
 	font-size: 13px;
 	padding-left: 36px;
 	text-shadow: 1px 0px 2px black;
 }


#vid1, #vid2 {
	width: 320px;
	height: 240px;
	float: right;
	padding-right: 36px;
}


.siti {
	height: 492px;
	border: solid 6px black;
	background-color: #57cce7;
	box-sizing: border-box;
}

.u01siti {
	width: 100%;
	height: 400px;
	box-sizing: border-box;
}

#text01siti {
	font-size: 26px;
	padding-top: 28px;
	margin-bottom: 28px;
	float: left;
	text-align: left;
	padding-left: 36px;
}

#text02siti {
	font-size: 19px;
	font-weight: lighter;
	float: left;
	text-align: left;
	padding-left: 36px;
	padding-right: 36px;
}

.u02siti {
	vertical-align: bottom;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: normal;
	text-shadow: 0 2px 2px black;
	padding-bottom: 28px;
	float: left;
	text-align: left;
	padding-left: 36px;
	padding-right: 36px;
}


.l2 {
	border: solid 2px black;
	margin-top: 150px;
	margin-bottom: 150px;
	box-sizing: border-box;
}






/**PT3**/


.footer {
	height: 1020px;
	margin-bottom: 80px;

}

.footera {
	width: 100%;
	height: 40%;
	background-color: darkgreen;
	align-items: center;

}

#text01soft {
	margin-top: 21px;
}

#text01soft, #text02skills {
	color: lightgray;
}

#text02skills {
	font-weight: lighter;
}

.footerb {
	width: 100%;
	height: 60%;
	background-color: #2bbd29;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#fname {
	width: 480px;
	box-sizing: border-box;
	border: solid 2px darkgreen;
	padding: 18px;
	outline: none;
	transition: 0.3s;
	font-size: 16px;
	margin-bottom: 48px;
}

#fname:focus{
	border-color: #57cce7;
	box-shadow: 0 0 8px 0 #57cce7;
}

#fnumber {
	width: 480px;
	box-sizing: border-box;
	border: solid 2px darkgreen;
	padding: 18px;
	outline: none;
	transition: 0.3s;
	font-size: 16px;
	margin-bottom: 48px;
}

#fnumber:focus{
	border-color: #57cce7;
	box-shadow: 0 0 8px 0 #57cce7;
}

.finalt{
	width: 480px;
	font-size: 22px;
	box-sizing: border-box;
	background-color: darkgreen;
	border: solid 2px darkgreen;
	color: white;
	padding: 18px;
	outline: none;
	letter-spacing: 4px;
	transition: 0.6s;
}

.finalt:hover {
	border-color: #57cce7;
	box-shadow: 1px 1px 15px 2px #57cce7;
	color: #48e545;
}


}